/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --bg-color: #fff;
    --modal-bg-color: rgb(0 0 0/ 0.75);
    --border-color: #000;
    --text-color: #000;
    --button-fv-color: #000;
    --like-button-text: #fff;
    --like-button-hover: #000;
    --active-button-color: rgb(0 0 0/ 0.6);
    --logo-color: rgb(0 0 0/ 0.5);
    --text-shadow-color: rgb(255, 255, 255, 0.5);
    --contour-color: #000;
    --filling-color: #FF0000;
    --sparks-color: #FF0000;
    --accent-font: 'PressStart2P-Regular', sans-serif;
    --main-text-font: 'Inter-Variable', sans-serif;
    --main-font-weight-h: 'wght' 700;
    --main-font-weight-p: 'wght' 400;
    --bg-image:
        repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to top, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

:root.theme-dark {
    --bg-color: #000;
    --modal-bg-color: rgb(0 0 0/ 0.75);
    --border-color: #00cc14;
    --text-color: #00cc14;
    --button-fv-color: #00cc14;
    --like-button-text: #00cc14;
    --like-button-hover: #00cc14;
    --active-button-color: rgb(0 204 20/ 0.6);
    --logo-color: rgb(0 204 20/ 0.5);
    --text-shadow-color: rgb(0 0 0/ 0.5);
    --contour-color: #00cc14;
    --filling-color: #FF0000;
    --sparks-color: #FF0000;
    --accent-font: 'PressStart2P-Regular', sans-serif;
    --main-text-font: 'Inter-Variable', sans-serif;
    --main-font-weight-h: 'wght' 785;
    --main-font-weight-p: 'wght' 465;
    --bg-image:
        repeating-linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to top, #000, #000 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #007f0c 0.01%, #004306);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000;
        --modal-bg-color: rgb(0 0 0/ 0.75);
        --border-color: #00cc14;
        --text-color: #00cc14;
        --button-fv-color: #00cc14;
        --like-button-text: #00cc14;
        --like-button-hover: #00cc14;
        --active-button-color: rgb(0 204 20/ 0.6);
        --logo-color: rgb(0 204 20/ 0.5);
        --text-shadow-color: rgb(0 0 0/ 0.5);
        --contour-color: #00cc14;
        --filling-color: #FF0000;
        --sparks-color: #FF0000;
        --accent-font: 'PressStart2P-Regular', sans-serif;
        --main-text-font: 'Inter-Variable', sans-serif;
        --main-font-weight-h: 'wght' 785;
        --main-font-weight-p: 'wght' 465;
        --bg-image:
            repeating-linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 4px),
            repeating-linear-gradient(to top, #000, #000 2px, transparent 2px, transparent 4px),
            linear-gradient(to bottom, #007f0c 0.01%, #004306);
    }
}