/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --bg-color: #fff;
    --modal-bg-color: rgb(0 0 0/ 0.75);
    --border-color: #000;
    --text-color: #000;
    --button-fv-color: #000;
    --like-button-text: #fff;
    --like-button-hover: #000;
    --active-button-color: rgb(0 0 0/ 0.6);
    --logo-color: rgb(0 0 0/ 0.5);
    --text-shadow-color: rgb(255 255 255/ 0.5);
    --contour-color: #000;
    --filling-color: #FF0000;
    --sparks-color: #FF0000;
    --accent-font: 'PressStart2P-Regular', sans-serif;
    --main-text-font: 'Inter-Variable', sans-serif;
    --main-font-weight-h: 'wght' 700;
    --main-font-weight-p: 'wght' 400;
    --bg-image:
        repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to top, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}